@{
    ViewBag.Title = "Order Confirmed";
}

<div class="card">
    <div class="card-header">
        <h3> Thank you! <i class="fa-regular fa-circle-check"></i> </h3>
    </div>
    <div class="card-body">
        We have successfully authorized your payment!
        Your order has been placed will be shipped to your address as soon as possible!
        <i class="fa-solid fa-truck"></i>
    </div>
</div>